html{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(35, 54, 74);
    color: snow;
    font-family: "Kanit", sans-serif;
    position: relative;
}

.score{
    font-family: "Alfa Slab One", serif;
    font-size: 6rem;
}

body>div{
    height: 100vh;
}

#score-board{
    width: 100vw;
}

#name{
    position: absolute;
    left: 0;
    bottom:0;
    color: rgba(255, 255, 255, 0.1);
}

h1,h2, h3, p{
    margin:0;
}